/***********************************************************************
**** myrides.css
**** Authors: Jude Muriithi, Meet Patel
**** Description: Defines CSS styles used across myrides.html
***********************************************************************/

/* Fix scrolling through pills on mobile */
#nav-tab {
    overflow-x: auto;
    flex-wrap: nowrap;
}

/* Lower opacity on 'nothing here' messages */
.tt-nothing {
    opacity: 0.65;
}
