{# ------------------------------------------------------------------ #}
{#  footer.html                                                       #}
{#  Authors: Meet Patel, Jude Muriithi                                #}
{# ------------------------------------------------------------------ #}

<div class="container-fluid text-center">
  <span>Created for COS333
    <span class="d-none d-lg-inline">
        - <a href="https://www.linkedin.com/in/aatmik/">Aatmik Gupta</a>,
        <a href="https://www.linkedin.com/in/jude-muriithi/">Jude Muriithi</a>,
        <a href="https://www.linkedin.com/in/kwasi-oppong-badu-638965144/">Kwasi Oppong-Badu</a>,
        <a href="https://github.com/meetpatel450">Meet Patel</a>,
        <a href="https://github.com/shazra-raza">Shazra Raza</a>
    </span>
  </span>
</div>
